[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "cxxopts"]
	path = cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
[submodule "NumericalIntegration"]
	path = NumericalIntegration
	url = https://github.com/tbs1980/NumericalIntegration.git
